// -------------------------------------------
//   Live preview
// -------------------------------------------

@use "../base/mixins" as *;
@use "../base/variables" as *;

.live-preview-l {
  @include clearfix();

  padding-top: $banner-height;
  padding-bottom: $banner-height;

  .code-box {
    margin: 0;
    width: 100%;
    float: left;

    overflow: auto;

    #editor, #result {
      height: calc(100vh - #{$banner-height * 2});
      width: 100%;
    }
  }

  @include breakpoint(small) {
    .code-box {
      float: none;
      width: 100%;
    }
  }
}
